<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}"/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta name="theme-color" content="#000">
    {% block head %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
</body>
</html>
